# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.example

# Logs
*.log
npm-debug.log*

# Database
dump.rdb

# Build outputs
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Package manager
package-lock.json
yarn.lock

# Vercel
vercel.json