@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss/preflight';
@import 'tailwindcss/utilities';
@import 'tailwindcss';

@theme {
    --font-unbounded: 'Unbounded', sans-serif;
    --font-merriweather: 'Merriweather Sans', sans-serif;
    --font-libre-franklin: 'Libre Franklin', sans-serif;
    --font-montserrat: 'Montserrat', sans-serif;
}

@utility no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

@layer utilities {
    .bg-gradient-multi {
        background-image: linear-gradient(
            to right,
            rgba(253, 224, 71, 0.6),
            /* amber-300/60 */ rgba(139, 92, 246, 0.6),
            /* violet-500/60 */ rgba(56, 189, 248, 0.6),
            /* sky-400/60 */ rgba(244, 114, 182, 0.6) /* pink-400/60 */
        );
    }
    
    /* Custom Scrollbar */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, 1);
    }

    ::-webkit-scrollbar-track {
        background-color: rgba(229, 231, 235, 0.2);
        border-radius: 10px;
    }

    /* Remove up/down arrows */
    ::-webkit-scrollbar-button {
        display: none;
    }
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Change leaflet CSS */


.leaflet-control-zoom {
    font-size: 1.5rem;
    border: none !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
    width: 48px !important;
    height: 48px !important;
    font-size: 2rem !important;
    line-height: 48px !important;
    border-radius: 12px !important;
    margin-bottom: 8px !important;
    background-color: #03051C !important;
    color: #FFFFFF !important;
    font-family: 'Unbounded', sans-serif !important;

}

#qr-code-reader-container video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  background: black;
}